In [1]:
import numpy as np
import pandas as pd

In [2]:
am_df=pd.read_csv('movies_metadata.csv', encoding ='latin-1', sep=',')

In [5]:
#how to displat the first 10 row
ten_rows = am_df.head(10)
print("First 10 rows")
print(ten_rows)

First 10 rows
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5  False                                                NaN  60000000
6  False                                                NaN  58000000
7  False                                                NaN         0
8  False                                                NaN  35000000
9  False  {'id': 645, 'name': 'James Bond Collection', '...  58000000

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]
5  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...

                                       homepage     id    imdb_id  \
0          http://toystory.disney.com/toy-story    862  tt0114709
1                                           NaN   8844  tt0113497
2                                           NaN  15602  tt0113228
3                                           NaN  31357  tt0114885
4                                           NaN  11862  tt0113041
5                                           NaN    949  tt0113277
6                                           NaN  11860  tt0114319
7                                           NaN  45325  tt0112302
8                                           NaN   9091  tt0114576
9  http://www.mgm.com/view/movie/757/Goldeneye/    710  tt0113189

  original_language               original_title  \
0                en                    Toy Story
1                en                      Jumanji
2                en             Grumpier Old Men
3                en            Waiting to Exhale
4                en  Father of the Bride Part II
5                en                         Heat
6                en                      Sabrina
7                en                 Tom and Huck
8                en                 Sudden Death
9                en                    GoldenEye

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   10/30/1995
1  When siblings Judy and Peter discover an encha...  ...   12/15/1995
2  A family wedding reignites the ancient feud be...  ...   12/22/1995
3  Cheated on, mistreated and stepped on, the wom...  ...   12/22/1995
4  Just when George Banks has recovered from his ...  ...    2/10/1995
5  Obsessive master thief, Neil McCauley leads a ...  ...   12/15/1995
6  An ugly duckling having undergone a remarkable...  ...   12/15/1995
7  A mischievous young boy, Tom Sawyer, witnesses...  ...   12/22/1995
8  International action superstar Jean Claude Van...  ...   12/22/1995
9  James Bond must unmask the mysterious head of ...  ...   11/16/1995

     revenue runtime                                   spoken_languages  \
0  373554033      81           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249     104  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0     101           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156     127           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911     106           [{'iso_639_1': 'en', 'name': 'English'}]
5  187436818     170  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6          0     127  [{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...
7          0      97  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8   64350171     106           [{'iso_639_1': 'en', 'name': 'English'}]
9  352194034     130  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...
5  Released                           A Los Angeles Crime Saga
6  Released  You are cordially invited to the most surprisi...
7  Released                             The Original Bad Boys.
8  Released                         Terror goes into overtime.
9  Released               No limits. No fears. No substitutes.

                         title  video vote_average vote_count
0                    Toy Story  FALSE          7.7     5415.0
1                      Jumanji  FALSE          6.9     2413.0
2             Grumpier Old Men  FALSE          6.5       92.0
3            Waiting to Exhale  FALSE          6.1       34.0
4  Father of the Bride Part II  FALSE          5.7      173.0
5                         Heat  FALSE          7.7     1886.0
6                      Sabrina  FALSE          6.2      141.0
7                 Tom and Huck  FALSE          5.4       45.0
8                 Sudden Death  FALSE          5.5      174.0
9                    GoldenEye  FALSE          6.6     1194.0

[10 rows x 24 columns]

In [4]:
# Create a smaller dataframe
am_small_df = am_df[['title', 'release_date', 'budget', 'revenue', 'runtime']]
releaseDate = am_small_df.sort_values('release_date')
print("DataFrame of release date.")
print(releaseDate)

DataFrame of release date.
                                                title  \
36                             Across the Sea of Time
26                                       Now and Then
20                                         Get Shorty
24                                  Leaving Las Vegas
23                                             Powder
21                                            Copycat
0                                           Toy Story
45                      How To Make An American Quilt
41                                    Dead Presidents
22                                          Assassins
18                     Ace Ventura: When Nature Calls
9                                           GoldenEye
10                             The American President
37                                       It Takes Two
19                                        Money Train
15                                             Casino
34                                         Carrington
16                              Sense and Sensibility
39                           Cry, the Beloved Country
5                                                Heat
25                                            Othello
6                                             Sabrina
1                                             Jumanji
2                                    Grumpier Old Men
7                                        Tom and Huck
14                                   Cutthroat Island
13                                              Nixon
12                                              Balto
11                        Dracula: Dead and Loving It
8                                        Sudden Death
3                                   Waiting to Exhale
35                                   Dead Man Walking
42                                        Restoration
40                                        Richard III
31                                     Twelve Monkeys
17                                         Four Rooms
4                         Father of the Bride Part II
28                          The City of Lost Children
44                                         To Die For
48                              When Night Is Falling
47                                         Pocahontas
33                                               Babe
38                                           Clueless
49                                 The Usual Suspects
30                                    Dangerous Minds
43                                      Mortal Kombat
32                                   Wings of Courage
46                                              Se7en
27                                         Persuasion
29  In 1930's Shanghai violence was not the proble...

                                         release_date    budget    revenue  \
36                                         10/20/1995         0          0
26                                         10/20/1995  12000000   27400000
20                                         10/20/1995  30250000  115101622
24                                         10/27/1995   3600000   49800000
23                                         10/27/1995         0          0
21                                         10/27/1995         0          0
0                                          10/30/1995  30000000  373554033
45                                          10/6/1995  10000000   23574130
41                                          10/6/1995  10000000          0
22                                          10/6/1995  50000000   30303072
18                                         11/10/1995  30000000  212385533
9                                          11/16/1995  58000000  352194034
10                                         11/17/1995  62000000  107879496
37                                         11/17/1995         0          0
19                                         11/21/1995  60000000   35431113
15                                         11/22/1995  52000000  116112375
34                                          11/8/1995         0          0
16                                         12/13/1995  16500000  135000000
39                                         12/15/1995         0     676525
5                                          12/15/1995  60000000  187436818
25                                         12/15/1995         0          0
6                                          12/15/1995  58000000          0
1                                          12/15/1995  65000000  262797249
2                                          12/22/1995         0          0
7                                          12/22/1995         0          0
14                                         12/22/1995  98000000   10017322
13                                         12/22/1995  44000000   13681765
12                                         12/22/1995         0   11348324
11                                         12/22/1995         0          0
8                                          12/22/1995  35000000   64350171
3                                          12/22/1995  16000000   81452156
35                                         12/29/1995  11000000   39363635
42                                         12/29/1995  19000000          0
40                                         12/29/1995         0          0
31                                         12/29/1995  29500000  168840000
17                                          12/9/1995   4000000    4300000
4                                           2/10/1995         0   76578911
28                                          5/16/1995  18000000    1738611
44                                          5/20/1995  20000000   21284514
48                                           5/5/1995         0          0
47                                          6/14/1995  55000000  346079773
33                                          7/18/1995  30000000  254134910
38                                          7/19/1995  12000000          0
49                                          7/19/1995   6000000   23341568
30                                          8/11/1995         0  180000000
43                                          8/18/1995  18000000  122195920
32                                          9/18/1996         0          0
46                                          9/22/1995  33000000  327311859
27                                          9/27/1995         0          0
29  [{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...         0  4/30/1995

    runtime
36       51
26      100
20      105
24      112
23      111
21      124
0        81
45      116
41      119
22      132
18       90
9       130
10      106
37      101
19      103
15      178
34      121
16      136
39      106
5       170
25      123
6       127
1       104
2       101
7        97
14      119
13      192
12       78
11       88
8       106
3       127
35      122
42      117
40      104
31      129
17       98
4       106
28      108
44      106
48       96
47       81
33       89
38       97
49      106
30       99
43      101
32       50
46      127
27      104
29        0